html
    head
        title #{title}
        link(rel='stylesheet' type='text/css' href='/static/style/style.css')
    body
        block mainContent
        script(defer src='/static/js/client.js')        
        script(defer src='/static/js/bg.js') 
