extends base

block mainContent
    div(class='home-container')
        canvas(id='home-bg-canvas')
        div(class='route-heading') #{header}
        button(id='createRoomBtn') Create
        div(id='roomLink')
