extends base.pug

block mainContent
    form(id='JoinRoom' method='POST')
        div
            label username
            input(type='text' name='username')
        div
            input(type='submit' name='submit' value='join')
    div #{Error}


