extends base.pug

block mainContent
    div
        img(src='https://avatars.dicebear.com/api/micah/random.svg' id='form-avatar')
    form(id='JoinRoom' method='POST')
        div
            label username
            input(type='text' name='username' id='username-input')
        div
            input(type='submit' name='submit' value='join')
    div #{Error}


