extends base.pug

block mainContent
    canvas(id='home-bg-canvas')
    div(class='join-wrapper')
        div(class='route-heading') #{header}
        img(src='https://avatars.dicebear.com/api/micah/random.svg' id='form-avatar' width='50' height='50')
        form(id='JoinRoom' method='POST')
            div
                input(type='text' name='username' id='username-input' placeholder='username')
            div
                input(type='submit' name='submit' value='join')
        div #{Error}

